<% include partials/header %>
    
    <h1> 
        <%=campground.name%> 
    </h1>
    
    <img style="width: 600px;" src="<%=campground.image%>" alt="">
    
    <p> 
        <%=campground.description%> 
    </p>
    <p>
        <% campground.comments.forEach(function(comment){ %>
                <p> <%= comment.text %> - by <strong> <%= comment.author %> </strong></p>
        <% }); %>
    </p>





<% include partials/footer %>